* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

body > header {
    background-color: red;
    min-height: 10%;
}

.amg {
    display: flex;
    position: relative;
    width: 30px;
    height: 50px;
    left: 30px;
    top: 15px;

}

main {
    background-color: blue;
    min-height: 80%;
}

footer {
    background-color: gray;
    min-height: 10%;
}

.painel-principal header {
    display: flex;
    justify-content: center;
}