<footer>
    <div><img id="setaEsquerda" src="https://cdn-icons-png.flaticon.com/512/44/44887.png"></id></div>
    <div><img id="setaDireita" src="https://cdn-icons-png.flaticon.com/512/724/724927.png"></id></did>
         
    </section>
</footer>
</body>
</html>