   <footer class="footer__website">

        <section class="contatos">

            <p>Atendimento ao cliente</p>
            <p>0800 777 300</p>
            <p>Brasil</p>
            <p>@BuscarFrete.com</p>

        </section>

        <section class="rede-sociais">
            <img src="/images/facebook.png">
            <img src="/images/instagram.png">
            <img src="/images/youtube.png">
            <img src="/images/linkedin.png">
            <img src="/images/email.png">
            <img src="/images/sportfile.png">
        </section>

        <section class="pagamentos">
            <img src="/images/boleto-icon.png">
            <img src="/images/diners-icon.png">
            <img src="/images/elo.png">
            <img src="/images/hiper-icon.png">
            <img src="/images/master-icon.png">
            <img src="/images/pagseguro-icon.png">
            <img src="/images/visa-icon.png">
        </section>
   </footer>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript" src="/javascript/carrossel.js"></script>
    <script type="text/javascript" src="/javascript/popup.js"></script> 
    <script type="text/javascript" src="/javascript/minicart.js"></script>
</body>
</html>