<!DOCTYPE html>
<html lang="en">

<%- include('head')  %> 

<body>
    <header> 
        <button type="button" class="logo-marca">|| BuscarFrete.com</button>
        <button type="button" class="inicio">Início</button>
    </header>