<section class="popup_cadastro">
<!--
  <form class="form_sistema" action="http://localhost:3000/cliente_create" method="post">
    
    <label class="Label_Titulo">Faça o seu CADASTRO</label>
    
    <input class="inputs_cadastroLogin" name="nome" type="text" placeholder="nome" value="">
    <input class="inputs_cadastroLogin" name="email" type="email" placeholder="email" value="">
    <input class="inputs_cadastroLogin" name="senha" type="password" placeholder="senha" value="">
  </form>
  
  <div class="popup">
    <div class="botoesPopup">
      <button type="submit" class="btn_cadastrar active">CADASTRAR</button>
      <button type="reset" class="btn_login no_active" onclick="abrirLogin()">LOGIN</button>
    </div>
    
  </div>
</section>
-->

<section class="popup_login">

  <div class="popup">
    <form class="form_sistema">

      <label class="Label_Titulo">Faça o seu Login</label>

      <input class="inputs_cadastroLogin" type="email" placeholder="email" value="">
      <input class="inputs_cadastroLogin" type="password" placeholder="senha" value="">

      <div class="botoesPopup">
        <button type="reset" class="btn_login active"><a href="login.ejs">LOGAR</a></button>
      </div>

    </form>
  </div>

</section>