   <section class="popup_cadastro">

            <div class="popup">
                <form class="form_sistema">
         
                    <label class="Label_Titulo">Faça o seu CADASTRO</label>
                    
                      <input class="inputs_cadastroLogin" type="text" placeholder="nome" value="">
                      <input class="inputs_cadastroLogin" type="email" placeholder="email"  value="">
                      <input class="inputs_cadastroLogin" type="text" placeholder="senha"  value="">
        
                      <div class="botoesPopup">
                        <button class="btn_cadastrar active">CADASTRAR</button>
                        <button type="reset" class="btn_login no_active" onclick="abrirLogin()"">LOGIN</button>
                      </div>
        
                  </form>
            </div>
          </section>

          <section class="popup_login">

            <div class="popup">
                <form class="form_sistema">
         
                    <label class="Label_Titulo">Faça o seu Login</label>
                    
                      <input class="inputs_cadastroLogin" type="email" placeholder="email"  value="">
                      <input class="inputs_cadastroLogin" type="text" placeholder="senha"  value="">
        
                      <div class ="botoesPopup">
                        <button type="reset" class="btn_login active"><a href="login.html">LOGAR</a></button>
                      </div>
        
                  </form>
            </div>

          </section>