<%- include('partials/header')  %>
<!--inicio do Dashboard do motorista, dados pessoais -->
<section>

    <div class="container_titulo">
       <h1 class="sub_titulo">CADASTRO DO VEÍCULO</h1>
       <p class="description_dashboard">Vamos preparar o seu anúncio, para isso precisamos de algumas informações sobre o veículo.</p>
    </div>
    <div class="description_dashboard">
        <% if (errors.length) { %>
            <% errors.forEach(error => { %>
               <li>
                <%= error.param %>: <%= error.msg %> 
               </li>
            <% }) %>
        <% } %>
    </div>
    <form class="form_dashboard" action="/servicos/createVeiculo"  method="POST" enctype="multipart/form-data"> 
    <h3 class="sub_titulo">DADOS DO VEICULO</h3>
        <div>    
            <label class="label_dashboard" for="veiculo">Modelo:</label> 
            <input class="input_dashboard" type="text"name="modelo_veiculo" id="veiculo" placeholder="Modelo do veículo">
        </div>
        <div>    
            <label class="label_dashboard" for="anoVeiculo">Ano:</label> 
            <input class="input_dashboard" type="year"name="ano_veiculo" id="anoVeiculo" placeholder="Ano de fabricação do veículo">
        </div>
        <div>
            <input class="input_dashboard" type="file" name="fotos_veiculos" accept="image/*">
            <input class="input_dashboard" type="file" name="fotos_veiculos" accept="image/*">
            <input class="input_dashboard" type="file" name="fotos_veiculos" accept="image/*">
        </div>
        <div>
            <button class="botao_dashboard" type="submit" name="cadastrarVeiculo">CADASTRAR VEÍCULO</button>
            <a class="botao_dashboard" href="/servicos/create">ANUNCIE AQUI</a>
        </div>
</form>
<!-- link para o formulario de cadastro de anuncio-->

</section>

<%- include('partials/footer')  %> 