<%- include('partials/header')  %>
<!--inicio do Dashboard do motorista, dados pessoais -->
<section>

    <div class="container_titulo">
       <h1 class="sub_titulo">CADASTRO DO MOTORISTA</h1>
       <p class="description_dashboard">Vamos preparar o seu anúncio, para isso precisamos de algumas informações.</p>
    </div>
    <div class="description_dashboard">
        <% if (errors.length) { %>
            <% errors.forEach(error => { %>
               <li>
                <%= error.param %>: <%= error.msg %> 
               </li>
            <% }) %>
        <% } %>
    </div>
    <form class="form_dashboard" action="/dashboard/create"  method="POST" enctype="multiport/form-data"> 
    <h3 class="sub_titulo">DADOS PESSOAIS</h3> 
        <div>
            <label class="label_dashboard" for="nome">Nome:</label> 
            <input class="input_dashboard" type="text"name="nome" id="nome" placeholder="digite o seu nome" >
        </div>
        <div>
            <label class="label_dashboard" for="sobrenome">Sobrenome:</label> 
            <input class="input_dashboard" type="text"name="sobrenome" id="sobrenome" placeholder="digite o seu sobrenome" >
        </div>
        <div>
            <label class="label_dashboard" for="cpf">CPF:</label> 
            <input class="input_dashboard" type="number"name="cpf" id="cpf" placeholder="digite o CPF, apenas números" >
        </div>
        <div>
            <label class="label_dashboard" for="cnh">CNH:</label> 
            <input class="input_dashboard" type="number"name="cnh" id="cnh" placeholder="digite o número da sua CNH"  >
        </div>
        <div>
            <label class="label_dashboard" for="categoria">Categoria da sua CNH:</label> 
            <select id="categoria_cnh" name="categoria_cnh">
                <option value="" selected hidden>selecione</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
            </select>
        </div>
        <div>
            <label class="label_dashboard" for="telefone">Telefone para contato:</label> 
            <input class="input_dashboard" type="tel"name="telefone" id="telefone" placeholder="(11)11111-1111"  >
        </div>
        <div>
            <label class="label_dashboard" for="cep">CEP:</label> 
            <input class="input_dashboard" type="number"name="cep" id="cep" placeholder="Digite seu CEP, apenas números"  >
        </div>
        <div class="estado_cliente">
            <label class="label_dashboard" for="Estado">Estado:</label> 
                <select id="estado_cliente" name="estado">
                    <option value="" selected hidden>Estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
        </div>
        <div>
            <label class="label_dashboard" for="cidade">Cidade:</label> 
            <input class="input_dashboard" type="text" name="cidade" id="cidade_cliente" placeholder="cidade principal" >
        </div>
        <div>
            <label class="label_dashboard" for="bairro">Bairro:</label> 
            <input class="input_dashboard" type="text" name="bairro" id="bairro" placeholder="digite seu bairro"  >
        </div>
        <div>
            <label class="label_dashboard" for="logradouro">Logradouro:</label> 
            <input class="input_dashboard" type="text" name="logradouro" id="logradouro" placeholder="Rua,Avenida..."  >
        </div>
        <div>
            <label class="label_dashboard" for="numero">Número:</label> 
            <input class="input_dashboard" type="text" name="numero" id="numero"  >
        </div>
        <div class="botao_dashboard">
            <button class="botao_dashboard" type="submit" name="cadastrarCliente">CADASTRAR</button>
        </div>
</form>
</section>


<%- include('partials/footer')  %> 