<%- include('partials/header')  %>
<!-- DASH cadastro do motorista, entrada dos dados para o anuncio, terceira página -->

<body>
        <h1 class="titulo">CADASTRO DO MOTORISTA</h1>
    <h3 class="sub_titulo">SEU SERVIÇO</h3> 
    <form class="form_dashboar" action= "/servico" method="POST">
            <div>
                <label class="label_dashboard" for="cep">CEP:</label> 
                <input class="input_dashboard" type="number" name="cep" id="cep" placeholder="digite o CEP, apenas números" required>
            </div>
            <div>
                <label class="label_dashboard" for="logradouro">Logradouro:</label> 
                <input class="input_dashboard" type="text"name="logradouro" id="logradouro" placeholder="digite o logradouro" required  >
            </div>
            <div>
                <label class="label_dashboard" for="numero">Numero:</label>
                <input class="input_dashboard" type="number"name="numero" id="numero" placeholder="digite o número" required >
             </div> 
             <div>
                <label class="label_dashboard" for="bairro">Bairro:</label> 
                <input class="input_dashboard" type="text"name="bairro" id="bairro" placeholder="digite o bairro" required >
             </div>
             <div>    
                <label class="label_dashboard" for="cidade">Cidade:</label> 
                <input class="input_dashboard" type="text"name="cidade" id="cidade" placeholder="cidade principal" required >
             </div>
             <div>
                <label class="label_dashboard" for="Estado">Estado:</label> 
                    <select id="Estado" name="estado">
                        <option value="" selected hidden>Estado</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
            </div>
            <div>
                <label class="label_dashboard" for="servico">Selecione o alcance das viagens que pretende fazer:</label>
                <div class="radio">
                    <input class="input_dashboard" type="radio" name="servico" value="viagens locais">
                    <label class="label_dashboard">Viagens locais</label>
                    <input class="input_dashboard" type="radio" name="servico" value="viagens intermunicipais">
                    <label class="label_dashboard">Viagens intermunicipais</label>
                    <input class="input_dashboard" type="radio" name="servico" value="viagens interestaduais">
                    <label class="label_dashboard">Viagens interestaduais</label>
                </div>
            </div>   
            <div class="botoes_dashboard">
                <button class="botao_dashboard" type="button" name="paginaAnterior">ANTERIOR</button>
                <button class="botao_dashboard" type="submit" name="paginaServico">PRÓXIMO</button>  
            </div>
            
    </form>

</body>

<%- include('partials/footer')  %> 