<%- include('partials/header')  %>
<!--inicio do Dashboard do motorista, dados pessoais -->
<body>
    <h1 class="titulo">CADASTRO DO MOTORISTA</h1>
    <h3>DADOS PESSOAIS</h3> 
    
    <form action="/dashboard"  method="POST"> 
        <section class="segundaColuna">
            <div>
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" placeholder="digite seu nome" required>
            </div>
            <div>
                <label for="sobrenome">Sobrenome:</label>
                <input type="text"name="sobrenome" id="sobrenome" placeholder="digite seu sobrenome" required >
            </div>
        <div>
            <label for="cpf">CPF:</label> 
            <input type="number"name="cpf" id="cpf" placeholder="digite o CPF, apenas números" required >
        </div>
        </section>
        <section class="terceiraColuna">
            <div>
                <label for="email">Email:</label> 
                <input type="email"name="email" id="email" placeholder="digite um email válido" required  >
            </div>
            <div>
                <label for="telefone">Telefone para contato:</label> 
                <input type="tel"name="telefone" id="telefone" placeholder="(11)11111-1111" required  >
            </div>
            <div>
                <label for="cnh">CNH:</label> 
                <input type="number"name="cnh" id="cnh" placeholder="digite o número da sua CNH" required  >
            </div>
        </section>
        <section class="quartaColuna">
            <div>
                <label for="categoria">Categoria da sua CNH:</label> 
                <select id="categoria" name="categoria">
                    <option value="" selected hidden>selecione</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </div>
            <div>    
                <label for="senha">Senha:</label> 
                <input type="password"name="senha" id="senha" placeholder="sua senha" required >
            </div>
            <div>
                <label for="senha2">Confirme sua senha:</label>
                <input type="password"name="senha2" id="senha2" placeholder="repita a mesma senha" required >
            </div>
        </section> 
        <div class="botes">
            <button type="submit" name="cadastroPessoal">PRÓXIMO</button> 
        </div>
    </div>
</form>
</body>


<%- include('partials/footer')  %> 