<%- include('partials/header')  %>
<!--inicio do Dashboard do motorista, dados pessoais -->
<section>

    <div class="container_titulo">
       <h1 class="titulo">CADASTRO DO MOTORISTA</h1>
       <h3 class="sub_titulo">DADOS PESSOAIS</h3> 
    </div>
    
    <form class="form_dashboar" action="/dashboard"  method="POST"> 
        <div>
            <label class="label_dashboard" for="nome">Nome:</label>
            <input class="input_dashboard" type="text" name="nome" id="nome" placeholder="digite seu nome" required>
        </div>
        <div>
            <label class="label_dashboard" for="sobrenome">Sobrenome:</label>
            <input class="input_dashboard" type="text"name="sobrenome" id="sobrenome" placeholder="digite seu sobrenome" required >
        </div>
        <div>
            <label class="label_dashboard" for="cpf">CPF:</label> 
            <input class="input_dashboard" type="number"name="cpf" id="cpf" placeholder="digite o CPF, apenas números" required >
        </div>
        <div>
            <label  class="label_dashboard"for="email">Email:</label> 
            <input class="input_dashboard" type="email"name="email" id="email" placeholder="digite um email válido" required  >
        </div>
        <div>
            <label  class="label_dashboard" for="telefone">Telefone para contato:</label> 
            <input class="input_dashboard" type="tel"name="telefone" id="telefone" placeholder="(11)11111-1111" required  >
        </div>
        <div>
            <label class="label_dashboard" for="cnh">CNH:</label> 
            <input class="input_dashboard" type="number"name="cnh" id="cnh" placeholder="digite o número da sua CNH" required  >
        </div>
        <div>
            <label class="label_dashboard" for="categoria">Categoria da sua CNH:</label> 
            <select id="categoria" name="categoria">
                <option value="" selected hidden>selecione</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
            </select>
        </div>
        <div>    
            <label class="label_dashboard" for="senha">Senha:</label> 
            <input class="input_dashboard" type="password"name="senha" id="senha" placeholder="sua senha" required >
        </div>
        <div>
            <label class="label_dashboard" for="senha2">Confirme sua senha:</label>
            <input class="input_dashboard" type="password"name="senha2" id="senha2" placeholder="repita a mesma senha" required >
        </div>
        <div class="botoes_dashboard">
            <button class="botao_dashboard" type="submit" name="cadastroPessoal">PRÓXIMO</button> 
        </div>
    </form>
</section>


<%- include('partials/footer')  %> 