 <%- include('partials/header')  %>

  <main>
   <section class="container_anuncio">

    <div id="container">

      <div class="container_img_caminhao">
          <img id="img_caminhao" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-k2_VQ8ZMoDFqLPmNZ8DuIF9ul2KG6wckJw&usqp=CAU" alt="Imagem do transporte">
      </div>

        <div id="info_motorista"> 

           <div class="container_nome_motorista">  <h2 class="nome_motorista">José Batista filho</h2> </div>

           <div class="dados_motorista">
              <div>
                <h3>Telefone:</h3>
                <p>55 62 888888888</p>
              </div>
              <div>
                <h3>Serviço:</h3>
                <p>Frete</p>
              </div>
              <div>  
                <h3>Preço médio por kilometro (km):</h3>
                <p>R$ 100</p> 
              </div>   
            </div>

            <p class="descrição_motorista">
            Motorista experiente, com mais de 10 anos trabalhando com frete.
            Reside na região sul de São Paulo, capital.
            Caminhão médio, com carroceria aberta.  
            </p>
        </div>

        <div id="bate_papo">
           <img src="images/whatsapp.svg">
        </div>

    </div>

    <h3>
        Comentários
    </h3>

    <div id="comentarios">
       <p>
        O senhor José é muito simpático, atencioso e prestativo. Ajudou meu marido a colocar toda mudança no caminhão, com cuidado. Super recomendo.
       </p>
       <div id= "avaliacao">
        <img src="https://img2.gratispng.com/20180325/kue/kisspng-star-cartoon-clip-art-5-star-5ab7efc7016fa1.6508644315220039110059.jpg" alt="avaliação">
        <img src="https://img2.gratispng.com/20180325/kue/kisspng-star-cartoon-clip-art-5-star-5ab7efc7016fa1.6508644315220039110059.jpg" alt="avaliação">
        <img src="https://img2.gratispng.com/20180325/kue/kisspng-star-cartoon-clip-art-5-star-5ab7efc7016fa1.6508644315220039110059.jpg" alt="avaliação">
        <img src="https://img2.gratispng.com/20180325/kue/kisspng-star-cartoon-clip-art-5-star-5ab7efc7016fa1.6508644315220039110059.jpg" alt="avaliação">
    </div>

    </div>
    </section>
        
        <%- include('partials/popup')  %>

  </main>

<%- include('partials/footer')  %> 