<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuscarFrete</title>
    <link href="/public/stylesheets/index.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
</head>
<body>

    <header class="paginaInicial">
        <nav class="Nav_paginaInicial">

            <div>
                <img class="logoBuscarFrete" src="/public/images/logoBuscarFrete.png" alt="logo_buscarFrete">
            </div>
           
            <div class="container_menu">
                <ul class="menu_buscarFrete">
                    <li>
                        <a  href="#">HOME</a>
                    </li>
                    <li>
                        <a  href="#">CONSULTAR</a>
                    </li>
                 </ul>
            </div>
           
        </nav>
    </header>

    <main>
        <section id="slide_paginaInicial" class="slide_paginaInicial">
            <div><img class="imagem_slide" src="/public/images/imagem_slide.png" alt="Image do slide"></div>
            <div><img class="imagem_slide" src="/public/images/imagem_slide.png"></div>
            <div><img class="imagem_slide" src="/public/images/imagem_slide.png"></div>
        </section>

        <section class="information__website">

            <div>
                <img class="imagem_information" src="/public/images/imagem_slide.png" />
            </div>

            <div>

                <section class="section_consultar">

                    <div>
                        <h1>Precisa de um frete?</h1>  
                    </div>

                    <div class="container_botoes">
                        <button class="botoes no_active">CONSULTAR</button>
                    </div>
        
                </section>

                <section class="section_login">

                  <h3>Voce é um Freteiro parceiro</h3>
                   <div class="container_botoes">
                     <button class="botoes no_active">ENTRAR</button>
                     <button class="botoes active" >CADASTRAR</button>
                    </div>

                </section>

            </div>

        </section>
    </main>

    <footer class="footer__website">

        <section class="contatos">

            <p>Atentimento ao cliente</p>
            <p>0800 777 300</p>
            <p>Brasil</p>
            <p>@BuscarFrete.com</p>

        </section>

        <section class="rede-sociais">
            <img src="/public/images/facebook.png">
            <img src="/public/images/instagram.png">
            <img src="/public/images/youtube.png">
            <img src="/public/images/linkedin.png">
            <img src="/public/images/email.png">
            <img src="/public/images/sportfile.png">
        </section>

        <section class="pagamentos">
            <img src="/public/images/boleto-icon.png">
            <img src="/public/images/diners-icon.png">
            <img src="/public/images/elo.png">
            <img src="/public/images/hiper-icon.png">
            <img src="/public/images/master-icon.png">
            <img src="/public/images/pagseguro-icon.png">
            <img src="/public/images/visa-icon.png">
        </section>
        
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript" src="/public/javascript/carrossel.js"></script>
</body>
</html>