<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuscarFrete</title>
    <link href="/public/stylesheets/index.css" rel="stylesheet">
</head>
<body>

    <header class="paginaInicial">
        <nav class="Nav_paginaInicial">

            <div>
                <img class="logoBuscarFrete" src="/public/images/logoBuscarFrete.png" alt="logo_buscarFrete">
            </div>
           
            <div class="container_menu">
                <ul class="menu_buscarFrete">
                    <li>
                        <a  href="#">HOME</a>
                    </li>
                    <li>
                        <a  href="#">CONSULTAR</a>
                    </li>
                 </ul>
            </div>
           
        </nav>
    </header>
    
</body>
</html>