<%- include('partials/header') %>
    <main>
        <section id="slide_paginaInicial" class="slide_paginaInicial">
            <div><img class="imagem_slide" src="/images/1.png" alt="Imagem do slide"></div>
            <div><img class="imagem_slide" src="/images/3.png"></div>
        </section>

        <section class="information__website">

            <div>
                <img class="imagem_information" src="/images/banner_cadastro.png" />
            </div>

            <div>

                <section class="section_login">

                    <h1>Voce é um Freteiro parceiro?</h1>
                    <div class="container_botoes">
                        <a button class="botoes active" href="/login">ENTRAR
                            </button>
                        </a>
                        <a button class="botoes active" href="/clientes/create">CADASTRAR
                            </button>
                        </a>

                    </div>

                </section>

                <section class="section_consultar">

                    <div>
                        <h3>Precisa de um frete?</h3>
                    </div>

                    <div class="container_botoes">
                        <button class="botoes no_active"><a href="/servicos">CONSULTAR</a></button>
                    </div>

                </section>

            </div>

        </section>

        <%- include('partials/popup') %>

    </main>

    <%- include('partials/footer') %>