<%- include('partials/header')  %>

<!-- DASH cadastro do motorista, entrada dos dados para o anuncio, segunda página -->

<body>
     <h1 class="titulo">CADASTRO DO MOTORISTA</h1>
     <p class="description_dashboard" >Precisamos que você preencha corretamente seu casdastro para disponibilizar o seu contato para os interessados em seu serviço de frete.</p>
<!-- dados do perfil--> 
    <h3 class="sub_titulo">Seu perfil</h3>

    <form class="form_dashboard" action= "/perfil" method="POST">                
        <div class="seuPerfil">
            <label class="label_dashboard" for="autoDescricao">Escreva sobre você para seus clientes te conhecerem:</label>
            <textarea class="seuPerfil" name="autoDescricao" id="autoDescricao">Sobre você</textarea>
        </div>
            <div>
                <label class="label_dashboard">Sua foto de perfil</label>
                <input class="input_dashboard" type="file" name="fotoPerfil" accept="image/*">
            </div>
            <div class="botoes_dashboard">
                <button class="botao_dashboard" type="button" name="paginaAnterior">ANTERIOR</button>
                <button class="botao_dashboard" type="submit" name="cadastroPerfil">PRÓXIMO</button> 
            </div>
    </form>   

</body>

<%- include('partials/footer')  %> 