<%- include('partials/header')  %>

<!-- DASH cadastro do motorista, entrada dos dados para o anuncio, segunda página -->

<body>
     <h1 class="titulo">CADASTRO DO MOTORISTA</h1>
     <p>Precisamos que você preencha corretamente seu casdastro para disponibilizar o seu contato para os interessados em seu serviço de frete.</p>
<!-- dados do perfil--> 
    <h3 class="seuPerfil">Seu perfil</h3>

    <form action= "/perfil" method="POST">                
        <div class="seuPerfil">
            <label for="autoDescricao">Escreva sobre você para seus clientes te conhecerem:</label>
            <textarea class="seuPerfil" name="autoDescricao" id="autoDescricao">Sobre você</textarea>
        </div>
            <div>
                <label>Sua foto de perfil</label>
                <input type="file" name="fotoPerfil" accept="image/*">
            </div>
            <div class="botoes">
                <button type="button" name="paginaAnterior">ANTERIOR</button>
                <button type="submit" name="cadastroPerfil">PRÓXIMO</button> 
            </div>
    </form>   

</body>

<%- include('partials/footer')  %> 