* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

body > header {
    background-color: #ff8c00;
    min-height: 10%;
}

.logo-marca:hover {
    background-color: #d3d3d3;
    color: orange;
    transition: 
    background-color 0,5s,
    color 0,5s;
}

.logo-marca {
    color: black;
    line-height: 20px;
    width: 130px;
    margin-left: 50px;
}

.inicio:hover {
    background-color: #d3d3d3;
    color: orange;
    transition: 
    background-color 0,5s,
    color 0,5s;
}

.inicio {
    line-height: 20px;
    width: 100px;
    margin-left: 40px;
    margin-top: 13px;
}

main {
    background-color: #ffffff;
    min-height: 80%;
}

#Estado {
    display: flex;
    line-height: 20px;
    width: 160px;
    margin-left: 30px;
    margin-top: 70px;
}

#Cidade {
    display: flex;
    line-height: 20px;
    width: 160px;
    margin-left: 30px;
    margin-top: 60px;
}

#volvo {
    display: flex;
    width: 120px;
    height: 120px;
    margin-left: 300px;
    margin-top: -80px;
}

#scania {
    display: flex;
    width: 120px;
    height: 120px;
    margin-left: 500px;
    margin-top: -120px;
}

#ford {
    display: flex;
    width: 140px;
    height: 110px;
    margin-left: 700px;
    margin-top: -115px;
}

#volkswagen {
    display: flex;
    width: 190px;
    height: 150px;
    margin-left: 265px;
    margin-top: 40px;
}

#mercedes-benz {
    display: flex;
    width: 200px;
    height: 110px;
    margin-left: 470px;
    margin-top: -120px;
}

.filtro {
    line-height: 20px;
    width: 100px;
    margin-left: 50px;
    margin-top: 12px;
}

.painel-principal {
    display: flexbox;
    text-align: center;
}

h2 {
    display: flex;
    margin-left: 440px;
    margin-top: -10px;
}

footer {
    background-color: #d3d3d3;
    min-height: 10%;
    margin-top: 5px;
}

#setaEsquerda{
    display: flex;
    width: 36px;
    height: 25px;
    margin-left: 1050px;
    margin-top: 20px;
}

#setaDireita{
    display: flex;
    width: 36px;
    height: 23px;
    margin-left: 1125px;
    margin-top: -24px;
}