* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

}

.header_perfildomotorista {
  text-align: left;
  margin-bottom: 5%;
  width: 100%;
  border: 2px solid #F2F2F2;
  background-color: #F2F2F2;
  padding: 10px;
}

header nav {
  margin-left: 20px;
}

header nav ul {
  list-style: none;

}

header nav ul li a {
  text-decoration: none;
}

#container {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  margin-bottom: 50px;
}

#bate_papo {
  width: 20%;
  border: solid 2px black;
  display: flex;
  align-items: center;
  flex-direction: column;

}

#info_motorista {
  width: 40%;
  display: flex;
  flex-direction: column;
}

#img_caminhao {
  width: 20%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

#comentarios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

#avalicao {
  display: flex;
  justify-content: center;
  margin-top: 50px;

}

#avaliacao img {
  width: 26px;
}

footer {
  text-align: center;
  align-items: flex-end;
  width: 100%;
  border: 2px solid orange;
  background-color: orange;
  padding: 10px;
  margin-bottom: 5%;
}

