
.header_dashboard{
    background-color: #4f4f4f;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    position: relative;
}

.logo{
    position: absolute;
    left: 0;
    cursor: pointer;
}

.logo_usuario{
    position: absolute;
    top: -4px;
    right: 0;
    cursor: pointer;
}

.dados{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dados_img{
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-row-end: 1;
    border: 1px solid black;
    height: 212px;
    width: 288px;
    cursor: pointer;
}

#input_img{
    display: none;
}

.img_dados_inputs{
    display: block;
    height: 212px;
    width: 288px;
}

.dados_usuario{
   margin-top: 20px;
   width: 300px;
   min-height: 300px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

input{
    height: 50px;
}

.atualizar{
    background-color:#000000;
    color: #ffffff;
    height: 50px;
    width: 90px;
    cursor: pointer;
}

.atualizar:hover{
    background-color:#ff8c00;
    color: #000000;
}

.limpar{
    height: 50px;
    width: 90px;
    cursor: pointer;
}

.estatisticas{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
}

.estatisticas__titulo{
    color: black;
    font-size: 26px;
}

.estatisticas__dados{
    display: flex;
    flex-direction: row;
    gap: 14px;
}
